/* ստեղ գրում ես css կոդը */

h1{
    text-align: center; /*ես կոդով որ մեկի մեջը գրես տեքստը գալիս մեջտեղը */
    color: yellow; /* color-ով տեքստի գույն ես տալիս */
    font-weight: bold; /* font-weight-ով տառերն ես հաստացնում*/
}
